@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

@font-face {
  font-family: "Satoshi Type Bold";
  src: url("/fonts/Satoshi-Bold.ttf");
}
@font-face {
  font-family: "Satoshi Type Black";
  src: url("/fonts/Satoshi-Black.ttf");
}
@font-face {
  font-family: "Satoshi Type Light";
  src: url("/fonts/Satoshi-Light.ttf");
}
@font-face {
  font-family: "Satoshi Type Regular";
  src: url("/fonts/Satoshi-Regular.ttf");
}
@font-face {
  font-family: "Satoshi Type Medium";
  src: url("/fonts/Satoshi-Medium.ttf");
}
@font-face {
  font-family: "Satoshi Type BoldItalic";
  src: url("/fonts/Satoshi-BoldItalic.ttf");
}
@font-face {
  font-family: "Satoshi Type MediumItalic";
  src: url("/fonts/Satoshi-MediumItalic.ttf");
}
@font-face {
  font-family: "Satoshi Type BlackItalic";
  src: url("/fonts/Satoshi-BlackItalic.ttf");
}
@font-face {
  font-family: "Satoshi Type Italic";
  src: url("/fonts/Satoshi-Italic.ttf");
}
